/* font-family: 'DM Serif Display', serif;
font-family: 'Rubik', sans-serif; */

:root {
  --bgc: #FEF8F5;
  --bgfooter: #0F264C;
  --primery-text-color: #402B2B;
  --secondary-text-color: #EE4D47;
  --footer-header-text-color: #FFFFFF;
  --btn-load-color: #ED4D47;

}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title-reset {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 2.22;
  color: #402B2B;
  background-color: var(--bgc);
  outline: 1px solid green;
  margin: 0;
}

h2 {
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1,67;
  letter-spacing: 0.1em;
  color: #EE4D47;
}
.conteiner {
  margin-left: 240px;
}

/* Button */
.button {
  display: block;
  background-color: var(--secondary-text-color);
  color: var(--footer-header-text-color);
  border: 1px var(--secondary-text-color);
  border-radius: 5px;
  padding: 20px 24px;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
}
.button.contact-us {
  min-width: 158px;
}

.button.get-started {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 25px;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 220px;
}

.button.get-started::after {
  width: 29.5px;
  height: 12.5px;
  /* outline: 1px solid #fff; */
  background-image: url('../images/social-icon/arrow-right.svg');
  fill: var(--footer-header-text-color);
  background-repeat: no-repeat;
  content: '';
  margin-left: 20px;
}
/* Header */

.overlay {
  position: absolute;
  /* width: 1734px;
  height: 1005px; */
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  width: 1285px;
  height: 800px;
  margin-right: auto;
  background-image: 
  /* url(../images/hero-car.jpg), */
  url(../images/hero-bg.png);
  z-index: -2;
}

.header {
  display: flex;
  align-items: center;
  height: 140px;
}

.header-menu {
  display: flex;
  margin-left: 292px
}

.header-item {
  display: flex
}

.header-item:nth-child(1) {
  margin-right: 97px;
}
.header-item:nth-child(2) {
  margin-right: 104px;
    width: 66px;
}
.header-item:nth-child(3) {
  margin-right: 76px;
}

.header-link {
  display: inline-flex;
  color: var(--footer-header-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}


/* Hero */
.conteiner.hero {
  position: absolute;
  top: 790px;
  left: -210px;
  background-repeat: no-repeat;
  width: 811px;
  height: 395px;
  background-image: url(../images/hero-car.jpg);
  z-index: -1;
}
.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 47px;
}
.hero-title {
  display: flex;
  font-family: 'DM Serif Display', serif;
  font-weight: normal;
  font-size: 100px;
  line-height: 1;
  color: var(--footer-header-text-color);
  margin-top: 170px;
  margin-bottom: 60px;
}

/* About */
.about-us {
  display: flex;
  flex-direction: column;
}

.about-us > h2 {
  top: 1364px;
}

.about-us > p {
  width: 470px;
  margin-bottom: 70px;
}

.about-us > .tip {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}
/* Apply */
/* FAQ */
/* Feedback */
/* Form */
/* Footer */